# Travis CI build file.

# whitelist (branches that should be built)
branches:
  only:
  - master
  - /^issue.*$/

# the matrix of builds should cover each combination of Swift version
# and platform that is supported. The version of Swift used is specified
# by .swift-version, unless SWIFT_SNAPSHOT is specified.
matrix:
  include:
      os: linux
      dist: xenial
      sudo: required
      services: docker
      env: DOCKER_IMAGE=docker.kitura.net/kitura/swift-ci-ubuntu16.04:5.1.5 SWIFT_SNAPSHOT=5.1.5
    - os: linux
      dist: bionic
      sudo: required
      services: docker
      env: DOCKER_IMAGE=docker.kitura.net/kitura/swift-ci-ubuntu18.04:5.4 SWIFT_SNAPSHOT=5.4
    - os: linux
      dist: xenial
      sudo: required
      services: docker
      env: DOCKER_IMAGE=docker.kitura.net/kitura/swift-ci-ubuntu18.04:latest SWIFT_SNAPSHOT=$SWIFT_DEVELOPMENT_SNAPSHOT
    - os: osx
      osx_image: xcode11
      sudo: required
      env: SWIFT_SNAPSHOT=5.1.5 JAZZY_ELIGIBLE=true
    - os: osx
      osx_image: xcode12.2
      sudo: required
      #env: SWIFT_SNAPSHOT=5.1.5
    - os: osx
      osx_image: xcode12.5
      sudo: required
      env: SWIFT_SNAPSHOT=$SWIFT_DEVELOPMENT_SNAPSHOT

before_install:
- git clone https://github.com/Kitura/Package-Builder.git

script:
- ./Package-Builder/build-package.sh -projectDir $TRAVIS_BUILD_DIR
